# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.rar

*.ipch
*.suo
*.sdf

!/lib/Release/libcef.lib
!/lib/Release/libcef_dll_wrapper.lib

!/Release/icudt.dll
!/Release/libcef.dll
!/Release/libEGL.dll
!/Release/libGLESv2.dll
!/Release/Project1.exe
!/Release/d3dcompiler_43.dll
!/Release/d3dx9_43.dll

!.gitignore